@font-face {
    font-family: 'ComicNeue';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(/asset/my-code/font/ComicNeue.ttf) format('woff2');
}
body {
    margin: 0;
    background: linear-gradient(to bottom, black, #1f1f1fee);
    background-size: 200% 200%;
    height: 100vh;
    animation: background-animation 15s infinite ease-in-out;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    text-align: center;
    margin-top: 10px;
}
.button-menu {
    width: 80px;
    padding: 10px;
    font-size: 12px;
    letter-spacing: 0.5px;
    border-radius: 12px 5px 12px 5px;
    border: none;
    animation: button-menu-animation 5s infinite ease-in-out;
    background: linear-gradient(to left, rgb(10, 79, 79), rgb(92, 120, 132), rgb(10, 79, 79));
    background-size: 200% 200%;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 213, 255);
    transition: letter-spacing 1s ease-in-out;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    box-shadow: 0 0 5px gray, 0 0 5px cyan;
}

.button-menu:hover {
    letter-spacing: 2px;
    transition: letter-spacing 1s ease-in-out;
    text-shadow: 0 0 5px cyan;
    cursor: pointer;
}

.black-image-container {
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    margin: 300px auto;
    position:relative;
    width: 70%;
    text-align: left;
    display: inline-flex;
    overflow: hidden;
    /* background-color: aliceblue; */
    height: auto;
}

.black-image-container img {
    width: 70%;
    max-width: 300px;
    justify-content: right;
    align-items: right;
    filter: drop-shadow(0 0 5px rgba(10, 124, 255, 0.116));
    margin: 35px;
    opacity: 0.7;
    transition: max-width 1s;
    animation: black-image-animation 10s infinite ease-in-out;
}

.black-image-container img:hover {
    max-width: 305px;
}

.tentang-saya p {
    color: #D3D9D4;
    margin: 0 auto;
    letter-spacing: 1px;
    margin-top: 15px;
}
.tentang-saya span {
    font-weight: bold;
}


.hello-im {
    color: #D3D9D4;
    font-weight: bold;
    font-size: 20px;
}
#text {
    letter-spacing: 1px;
    font-size: 18px;
    text-shadow: 0 0 15px, 0 0 1px white;
}

.paragraph1 {
    color: #D3D9D4;
    text-align: center;
    font-weight: 10;
    letter-spacing: 0.9px;
    font-size: 15px;
}

.about-info-container {
    margin: 0 auto;
    width: 95%;
    margin-top: -350px;
    max-width: 700px;
    background-color: rgba(250, 250, 250, 0.023);
    border-radius: 18px;
}

.my-skill-software {
    margin-top: 100px;
}
.my-skill-software p {
    color: #D3D9D4;
    font-weight: bold;
    text-align: center;
}

.my-skill-title {
    color: #D3D9D4;
    font-size: 18px;
    text-align: center;
}

.skill-row {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.skill-icon {
    color: rgb(210, 210, 210);
    font-size: 30px;
    letter-spacing: 10px;
    transition: opacity 1s;
}
.skill-icon:hover {
    opacity: 0.6;
}
footer {
    justify-content: center;
    background-color: rgba(101, 101, 101, 0.235);
    padding: 8px;
    margin-top: 150px;
    text-align: center;
    color: #f9f9f9;
    font-size: 15px;
    letter-spacing: 1.3px;
}
