
.post {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #afc1c4;
    border-radius: 5px;
    background-color: #333;
    max-width: 700px;
    box-sizing: border-box;
    margin-top: 20px;
    display: grid;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.my-project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    margin: 0 0 10px 0;
    color: #fff;
}
.post p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin: 0;
    color: #D3D9D4;
}
pre {
    display: block;
    font-family: monospace;
    unicode-bidi: isolate;
    white-space: pre;
    margin: 1em 0px;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    color: #afc1c4;
}
pre::-webkit-scrollbar {
    display: none;
}
.title-project h1 {
    color: #D3D9D4;
    text-align: center;
}